<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Chỉnh sửa</h1>
<form action="/update" th:object="${song}" method="post" enctype="multipart/form-data">
  <table border="10" cellpadding="20" cellspacing="10">
    <tr>
      <th>ID</th>
      <td><input type="text" th:field="*{id}" readonly>
      </td>
    </tr><tr>
      <th>Song Name</th>
      <td><input type="text" th:field="*{songName}" >
      </td>
    </tr>
    <tr>
      <th>Singer</th>
      <td><input type="text" th:field="*{singerName}" ></td>
    </tr>
    <tr>
      <th>Music</th>
      <td><input type="file" th:field="*{songUrl}"></td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <input type="text" th:field="*{songCategory}" >
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
</body>
</html>