<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>List Person</h1>
<a href="/add"> Add new Song</a>
<table border="10" cellpadding="20" cellspacing="10">
  <tr>
    <th>ID</th>
    <th>Song </th>
    <th>Singer</th>
    <th>Category</th>
    <th>Music</th>
    <th colspan="2">Action</th>
  </tr>
  <tr th:each="p:${list}">
    <td th:text="${p.id}"></td>
    <td th:text="${p.songName}"></td>
    <td th:text="${p.singerName}"></td>
    <td th:text="${p.songCategory}"></td>
    <td><audio th:src="@{|/upload/${p.songUrl}|}" type="audio/mpeg" controls>

    </audio>
    </td>

    <td><a th:href="@{|/edit/${p.id}|}">Edit</a></td>
    <td><a th:href="@{|/delete/${p.id}|}">Delete</a></td>
  </tr>
</table>
</body>
</html>